web_servisten_veri_çekme/web_servis_ile_veri_çekme/web_servis_ile_veri_çekme/Connected Services/ServiceAltinKaynak/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://data.altinkaynak.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://data.altinkaynak.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://data.altinkaynak.com/">
      <s:element name="GetCurrency">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetGold">
        <s:complexType />
      </s:element>
      <s:element name="GetGoldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGoldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMain">
        <s:complexType />
      </s:element>
      <s:element name="GetMainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParity">
        <s:complexType />
      </s:element>
      <s:element name="GetParityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetParityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrencySoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrency" />
  </wsdl:message>
  <wsdl:message name="GetCurrencySoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetGoldSoapIn">
    <wsdl:part name="parameters" element="tns:GetGold" />
  </wsdl:message>
  <wsdl:message name="GetGoldSoapOut">
    <wsdl:part name="parameters" element="tns:GetGoldResponse" />
  </wsdl:message>
  <wsdl:message name="GetGoldAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetMainSoapIn">
    <wsdl:part name="parameters" element="tns:GetMain" />
  </wsdl:message>
  <wsdl:message name="GetMainSoapOut">
    <wsdl:part name="parameters" element="tns:GetMainResponse" />
  </wsdl:message>
  <wsdl:message name="GetMainAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetParitySoapIn">
    <wsdl:part name="parameters" element="tns:GetParity" />
  </wsdl:message>
  <wsdl:message name="GetParitySoapOut">
    <wsdl:part name="parameters" element="tns:GetParityResponse" />
  </wsdl:message>
  <wsdl:message name="GetParityAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="GetCurrency">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Anlık döviz kuru bilgileri</wsdl:documentation>
      <wsdl:input message="tns:GetCurrencySoapIn" />
      <wsdl:output message="tns:GetCurrencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGold">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Anlık altın kuru bilgileri</wsdl:documentation>
      <wsdl:input message="tns:GetGoldSoapIn" />
      <wsdl:output message="tns:GetGoldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Anlık seçilmiş doviz kuru altın kuru ve parite bilgileri</wsdl:documentation>
      <wsdl:input message="tns:GetMainSoapIn" />
      <wsdl:output message="tns:GetMainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Anlık parite bilgileri</wsdl:documentation>
      <wsdl:input message="tns:GetParitySoapIn" />
      <wsdl:output message="tns:GetParitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrency">
      <soap:operation soapAction="http://data.altinkaynak.com/GetCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCurrencyAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGold">
      <soap:operation soapAction="http://data.altinkaynak.com/GetGold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetGoldAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMain">
      <soap:operation soapAction="http://data.altinkaynak.com/GetMain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMainAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParity">
      <soap:operation soapAction="http://data.altinkaynak.com/GetParity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetParityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrency">
      <soap12:operation soapAction="http://data.altinkaynak.com/GetCurrency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCurrencyAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGold">
      <soap12:operation soapAction="http://data.altinkaynak.com/GetGold" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetGoldAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMain">
      <soap12:operation soapAction="http://data.altinkaynak.com/GetMain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMainAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParity">
      <soap12:operation soapAction="http://data.altinkaynak.com/GetParity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetParityAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://data.altinkaynak.com/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://data.altinkaynak.com/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>